body {
	margin: 0;
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10+ and Edge */
	user-select: none; /* Standard syntax */
}

/*common styles*/
a, a:hover {
	text-decoration: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/*content*/
#content {
	padding: .5rem 1rem;
}

.user-page .main-block .gender-block {
	text-align: right;
}

.user-page .main-block .username {
	text-align: center;
	padding: .5rem 0;
}

.user-page .info {
	margin-top: .5rem;
}

#content.bg-secondary .subscriptions h4,
#content.bg-secondary .user-page .main-block .username,
#content.bg-secondary .user-page .info p {
	color: white;
}

.user-page .info p {
	font-family: sans-serif;
	text-transform: capitalize;
	letter-spacing: 1px
}

.user-page .info p:first-child {
	margin: 0 1rem 0 0;
}

.user-page .info p:not(:first-child) {
	margin: 1rem 0;
}

.user-page .info p img {
	width: 2rem;
	margin-right: 1rem;
} 

.user-item button img,
.user-page .main-block button img {
	width: 1.4rem;
}

.user-page .main-block .user-picture {
	box-shadow: 1px 5px 7px lightgrey;
	width: 100%;
}

.user-page .main-block button span {
	padding: 0 15px;
}

.pagination {
	margin-bottom: 0;
}

#content.bg-light .pagination .page-item .page-link {
	background: transparent;
	color: grey;
	padding: .75rem 1rem;
}

#content.bg-light .pagination .page-item .page-link.active {
	background: lightblue;
	color: white;
	border: none;
}

#content.bg-secondary .pagination .page-item .page-link {
	background: #343a40;
	color: white;
}

#content.bg-secondary .pagination .page-item .page-link.active {
	background: lightgrey
}

.pagination .page-item .page-link:focus {
	box-shadow: none !important;
}

.filtered-users input[type=number] {
	width: 100px;
}

#content.bg-secondary .filtered-users {
	color: white;
}

/*footer*/
#footer {
	width: 100%;
}

/*header*/
.navbar-light .nav-item,
#footer .navbar-light {
	font-weight: bold;
	color: grey;
	text-transform: uppercase;
}

.navbar-dark .nav-item,
#footer .navbar-dark {
	font-weight: bold;
	color: white;
	text-transform: uppercase;
}

#navbarMenu .nav-item {
	background: transparent;
	padding: .75rem 1rem;
}

#navbarMenu .nav-item.active {
	background: lightblue;
	color: white;
}

/*preloader*/
.preloader {
	margin: 0 auto;
}